<!DOCTYPE html>
<html>
    <head>
      <title>TaskApp</title>
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>
    
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>

    <body>
      <header>
        <h1>Ruby on Rails スケジュール管理アプリ</h1>
      </header>
        <div class="main_container">
          <div class="information"></div>
            <%= yield %>
        </div>
          <footer>
            <% case controller.action_name %>
              <% when "index" %>
                <%= render "shared/root_footer" %>
              <% else %>
                <%= render "shared/footer" %>
            <% end %>
          </footer>
    </body>
</html>
